openapi: 3.0.1
info:
  version: 2.55.0
  title: Transaction Server Application API (txi)
  license:
    name: restricted
  contact:
    email: apiteam@plumpos.io
servers:
  - url: 'https://txdev.plumpos.com/dev1/txi/v1'
    description: Development Sandbox
  - url: 'https://{url}/{basePath}/{version}'
    description: General URL format
    variables:
      url:
        default: txdev.plumpos.com
      basePath:
        default: dev1/txi
      version:
        default: v1
paths:
  /keySets:
    get:
      summary: List all the keySets used for txserver transmissions.
      operationId: global.listKeySets
      security:
        - apiKey: []
      tags:
        - init
      responses:
        '200':
          description: A list of each keySet.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/keySet'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/keySets/{keySetId}':
    post:
      summary: Sets the keySet used for txserver transmissions.
      operationId: global.setKeySet
      security:
        - apiKey: []
      tags:
        - init
      parameters:
        - name: keySetId
          in: path
          description: id of keySet
          required: true
          schema:
            type: string
      requestBody:
        description: The keySet.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/keySet'
      responses:
        '200':
          description: Success only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Deletes the keySet.
      operationId: global.deleteKeySet
      security:
        - apiKey: []
      tags:
        - init
      parameters:
        - name: keySetId
          in: path
          description: id of keySet
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success only.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /salesMode/addAuth:
    post:
      summary: Add a new authentication token.
      operationId: salesMode.addAuth
      tags:
        - salesMode
      requestBody:
        description: The token.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                salesModeToken:
                  type: string
      responses:
        '200':
          description: Returns true on success.
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /softwareVersions:
    put:
      summary: Set or Update the software versions object for txserver
      operationId: global.setSoftwareVersions
      security:
        - apiKey: []
      tags:
        - init
      requestBody:
        description: specifies the available set of software versions
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/softwareVersion'
      responses:
        '200':
          description: requested object was marked for resend
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /histories:
    get:
      summary: >
        Get listing of historical objects with their header information. 
        Parameters are optional query filter values. Parameters not present do
        not get their respective query filter applied.
      operationId: history.getHeaders
      security:
        - apiKey: []
      tags:
        - archive
      parameters:
        - name: objectType
          in: query
          description: >
            objectType to filter against. If not present all available
            objectTypes are included.
          required: false
          example: order
          schema:
            $ref: '#/components/schemas/objectType'
        - name: globalStoreId
          in: query
          description: globalStoreId to filter against.
          required: false
          example: 1234
          schema:
            type: integer
        - name: startBusDate
          in: query
          description: >
            Include business dates on or after this date. If not present then 
            no lower limit filter is applied.
          required: false
          example: '2025-09-30'
          schema:
            type: string
        - name: endBusDate
          in: query
          description: >
            Include business dates on or before this date. If not present then
            no upper limit filter is applied.
          required: false
          example: '2025-09-30'
          schema:
            type: string
        - name: startCreated
          in: query
          description: >
            Include headers with creation timestamps on or after this value.
            Value is expressed as the number of seconds since the epoch in UTC.
            If not present then no lower limit filter is applied.
          required: false
          example: 1539958251
          schema:
            type: integer
        - name: endCreated
          in: query
          description: >
            Include headers with creation timestamps on or before this value.
            Value is expressed as the number of seconds since the epoch in UTC.
            If not present then no upper limit filter is applied.
          required: false
          example: 1539958251
          schema:
            type: integer
        - name: startModified
          in: query
          description: >
            Include headers with modified timestamps on or after this value.
            Value is expressed as the number of seconds since the epoch in UTC.
            If not present then no lower limit filter is applied.
          required: false
          example: 1539958251
          schema:
            type: integer
        - name: endModified
          in: query
          description: >
            Include headers with modified timestamps on or before this value.
            Value is expressed as the number of seconds since the epoch in UTC.
            If not present then no upper limit filter is applied.
          required: false
          example: 1539958251
          schema:
            type: integer
      responses:
        '200':
          description: |
            an array containing the requested historical object headers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/histObjectBase'
                example:
                  - objectType: order
                    globalStoreId: 1234
                    storeId: 4
                    id0: 29918
                    id1: 0
                    busiDate: '2025-09-30'
                    created: 1539958251
                    modified: 1539958251
                  - objectType: timeslip
                    globalStoreId: 1234
                    storeId: 4
                    id0: 29918
                    id1: 0
                    busiDate: '2025-09-30'
                    created: 1539958251
                    modified: 1539958251
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/histories/stores/{globalStoreId}/objectTypes/{objectType}/id0s/{id0}/id1s/{id1}':
    get:
      summary: Gets a historical object
      operationId: history.getObject
      security:
        - apiKey: []
      tags:
        - archive
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings are to be set
          required: true
          schema:
            type: integer
        - name: objectType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/objectType'
        - name: id0
          in: path
          required: true
          schema:
            type: integer
        - name: id1
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: the requested historical object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/histObject'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/archives/{globalStoreId}/{archiveType}':
    get:
      summary: Return a one or more archive objects.
      operationId: archive.getObjects
      tags:
        - archive
      parameters:
        - name: globalStoreId
          in: path
          description: The store.
          required: true
          schema:
            type: integer
        - name: archiveType
          in: path
          description: The archive type.
          required: true
          schema:
            $ref: '#/components/schemas/archiveType'
        - name: id
          in: query
          description: One or more id values.
          required: true
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: A list of matching archives.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/archiveObject'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/loyaltyChecks/{globalStoreId}':
    get:
      summary: Return a one or more loyalty checks.
      operationId: loyaltyChecks.get
      tags:
        - archive
      parameters:
        - name: globalStoreId
          in: path
          description: The store.
          required: true
          schema:
            type: integer
        - name: checkId
          in: query
          description: One or more checkId values.
          required: true
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: A list of matching loyalty checks.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/loyaltyCheck'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chains:
    get:
      summary: Used to get a set of chains and registrations
      operationId: global.getChains
      tags:
        - init
        - settings
      responses:
        '200':
          description: succesful chain information get response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chainInfoSet'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/chains/{globalChainId}':
    post:
      summary: Used to create a new chain for use.
      operationId: settings.createNewChain
      tags:
        - init
      parameters:
        - name: globalChainId
          in: path
          description: global chain id for chain
          required: true
          schema:
            type: integer
      requestBody:
        description: Chain Registration
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chainRegistration'
      responses:
        '200':
          description: succesful chain registration create operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Used to modify a chain
      operationId: settings.modifyChain
      tags:
        - init
      parameters:
        - name: globalChainId
          in: path
          description: global chain id for chain
          required: true
          schema:
            type: integer
      requestBody:
        description: Chain Registration
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chainRegistration'
      responses:
        '200':
          description: succesful chain registration update operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Used to delete an existing chain
      operationId: settings.deleteChain
      tags:
        - init
      parameters:
        - name: globalChainId
          in: path
          description: global chain id for chain
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: succesful chain registration delete operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Used to get a chain info and/or test for its existence.
      operationId: settings.getChain
      tags:
        - init
        - settings
      parameters:
        - name: globalChainId
          in: path
          description: global chain id for chain
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: succesful chain information get response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chainInfo'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/chains/{globalChainId}/stores':
    get:
      summary: Used to get a list of stores for a chain.
      operationId: settings.getStores
      tags:
        - init
        - settings
      parameters:
        - name: globalChainId
          in: path
          description: global chain id for chain
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            Succesful store information set get response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeInfoSet'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/chains/{globalChainId}/stores/{globalStoreId}':
    get:
      summary: Used to get a single store for a chain.
      operationId: settings.getStore
      tags:
        - init
        - settings
      parameters:
        - name: globalChainId
          in: path
          description: global chain id for chain
          required: true
          schema:
            type: integer
        - name: globalStoreId
          in: path
          description: global store id for store
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: |
            Succesful store information get response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/storeInfo'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}':
    post:
      summary: Used to create a new store for use.
      operationId: settings.createNewStore
      tags:
        - settings
        - init
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: Store Registration
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/storeRegistration'
      responses:
        '200':
          description: succesful store registration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      summary: Used to modify elements of an existing store (e.g. credentials)
      operationId: settings.modifyStore
      tags:
        - settings
        - init
      parameters:
        - name: globalStoreId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Store Device Credentials object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/storeRegistrationMutable'
      responses:
        '200':
          description: succesful store registration patch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Used to delete an existing store
      operationId: settings.deleteStore
      tags:
        - settings
        - init
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store to remove
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: succesful store registration removal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/archives/{archiveType}':
    post:
      summary: Have the txbus resend the archives.
      operationId: archive.resend
      tags:
        - archive
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings
          required: true
          schema:
            type: integer
        - name: archiveType
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/archiveType'
      requestBody:
        description: The archive objects to get resent.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/dataIds'
      responses:
        '200':
          description: Responds with true on success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/archiveResendResult'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/devices/{deviceId}':
    put:
      summary: Used to insert or update a store plum terminal device.
      operationId: device.put
      tags:
        - device
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings
          required: true
          schema:
            type: integer
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: TerminalDevice definition.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/terminalDevice'
      responses:
        '200':
          description: Responds with true on success.
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Used to remove a store plum terminal device.
      description: >
        The device will execute an unbrand when it can no longer authenticate
        from not having an entry in the txserver table.
      operationId: device.delete
      tags:
        - device
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings
          required: true
          schema:
            type: integer
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Responds with true on success.
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/devices/{deviceId}/cmds/{cmdId}':
    post:
      summary: Used to send a store device command.
      operationId: cmd.post
      tags:
        - cmd
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings
          required: true
          schema:
            type: integer
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
        - name: cmdId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/cmdId'
      requestBody:
        description: Arguments for cmd.
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                args:
                  $ref: '#/components/schemas/cmdArgs'
      responses:
        '200':
          description: Responds with true on success.
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Used to retreive the result of a store device command.
      operationId: cmd.get
      tags:
        - cmd
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings
          required: true
          schema:
            type: integer
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
        - name: cmdId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/cmdId'
        - name: doDecode
          in: query
          description: Should the result get decoded.
          schema:
            default: false
            type: boolean
      responses:
        '200':
          description: Responds with the result.
          content:
            application/json:
              schema:
                type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Used to remove a store device command.
      operationId: cmd.delete
      tags:
        - cmd
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings
          required: true
          schema:
            type: integer
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
        - name: cmdId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/cmdId'
      responses:
        '200':
          description: Responds with true on success.
          content:
            application/json:
              schema:
                type: boolean
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/dump/{name}':
    get:
      summary: Used to dump a store setting for testing.
      operationId: settings.getSetting
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings
          required: true
          schema:
            type: integer
        - name: name
          in: path
          description: 'The setting name (e.g., discounts).'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The setting.
          content:
            application/json:
              schema:
                type: string
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/accounts':
    post:
      summary: Used to send new house account set to store
      operationId: settings.setHouseAccounts
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of house account Objects using accountId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/houseAccounts'
      responses:
        '200':
          description: succesful employee set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/adjReasons':
    post:
      summary: Used to send new adjustment Reason set to store
      operationId: settings.setAdjReasons
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of adjustment Reason Objects using adjReasonId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/adjReasons'
      responses:
        '200':
          description: succesful employee set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/areas':
    post:
      summary: Used to send new table area set to store
      operationId: settings.setAreas
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of area Objects using area name for keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/areas'
      responses:
        '200':
          description: succesful employee set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/debug':
    post:
      summary: Used to set store debugging.
      operationId: settings.setDebug
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: debug object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/debugSetting'
      responses:
        '200':
          description: succesful employee set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/discounts':
    post:
      summary: Used to send new discount set to store
      operationId: settings.setDiscounts
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of discount Objects using discountId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/discounts'
      responses:
        '200':
          description: successful discounts set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/employees':
    post:
      summary: Used to send new employee set to store
      operationId: settings.setEmployees
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of employee Objects using employeeId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employees'
      responses:
        '200':
          description: succesful employee set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/fees':
    post:
      summary: Used to send new fees set to store
      operationId: settings.setFees
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: store id for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of fee Objects using feeId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fees'
      responses:
        '200':
          description: successful discounts set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/giftCardGroups':
    post:
      summary: Used to send new gift card group set to store
      operationId: settings.setGiftCardGroups
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of gift card group Objects using groupId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/giftCardGroups'
      responses:
        '200':
          description: succesful employee set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/jobs':
    post:
      summary: Used to send new job set to store
      operationId: settings.setJobs
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of job Objects using jobId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/jobs'
      responses:
        '200':
          description: successful jobs set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/kdsDevices':
    post:
      summary: Used to send kdsDevices to store.
      operationId: settings.setKdsDevices
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store.
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of kdsDevices.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/kdsDevices'
      responses:
        '200':
          description: successful kdsDevices set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/loyaltySetup':
    post:
      summary: Used to send loyalty setup to store
      operationId: settings.setLoyaltySetup
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: loyalty setup object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loyaltySetupSetting'
      responses:
        '200':
          description: successful loyalty setup set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/menuCats':
    post:
      summary: Used to send new menu category set to store
      operationId: settings.setMenuCats
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of menu category Objects using menuCatId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/menuCats'
      responses:
        '200':
          description: successful menuCats set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/menuEvents':
    post:
      summary: Used to send new menu Event set to store
      operationId: settings.setMenuEvents
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of menu event Objects using eventId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/menuEvents'
      responses:
        '200':
          description: successful menu events set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/menuItems':
    post:
      summary: Used to send new menu Group set to store
      operationId: settings.setMenuItems
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of menu item Objects using itemId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/menuItems'
      responses:
        '200':
          description: successful menu items set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/messages':
    post:
      summary: Used to send messages set to store
      operationId: settings.setMessages
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: |
          hash of messages Objects using "$agentId.$messageId" keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messages'
      responses:
        '200':
          description: successful messages set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/nixes':
    get:
      summary: Returns the current 86ed menu items for the store.
      operationId: settings.getNixes
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: global store id for store
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Current 86ed menu items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nixes'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/orderClasses':
    post:
      summary: Used to send new order classes set to store
      operationId: settings.setOrderClasses
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of order class Objects using orderClassId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orderClasses'
      responses:
        '200':
          description: successful order classes set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/overrides':
    post:
      summary: Used to send new overrides set to store.
      operationId: settings.setOverrides
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: A hash of override objects using overrideId keys.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/overrides'
      responses:
        '200':
          description: successful overrides set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/paymentReasons':
    post:
      summary: Used to send new payment reason set to store
      operationId: settings.setPaymentReasons
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of menu screen Objects using reasonId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentReasons'
      responses:
        '200':
          description: successful payment reasons set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/printers':
    post:
      summary: Used to send new payment reason set to store
      operationId: settings.setPrinters
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of menu screen Objects using reasonId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/printers'
      responses:
        '200':
          description: successful printers set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/reverseFlow':
    post:
      summary: Used to send historical objects back to the store.
      operationId: settings.setRevFlow
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of rule Objects using rule name keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/reverseFlowObject'
      responses:
        '200':
          description: successful reverse flow set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/rules':
    post:
      summary: Used to send new rule set to store
      operationId: settings.setRules
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of rule Objects using rule name keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ruleValues'
      responses:
        '200':
          description: successful rules set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/store':
    post:
      summary: Used to send new store set to store
      operationId: settings.setStore
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: a single store object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/storeSetting'
      responses:
        '200':
          description: successful storeset operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/tags':
    post:
      summary: Used to send new tags to store.
      operationId: settings.setTags
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of tags.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tags'
      responses:
        '200':
          description: successful payment reasons set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/taxes':
    post:
      summary: Used to send new taxes set to store
      operationId: settings.setTaxes
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of taxes Objects using taxId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/taxes'
      responses:
        '200':
          description: successful taxes set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/terminals':
    post:
      summary: Used to send new terminals set to store
      operationId: settings.setTerminals
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of terminals Objects using terminalId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/terminals'
      responses:
        '200':
          description: successful terminals set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/voucherTypes':
    post:
      summary: Used to send new voucher types set to store
      operationId: settings.setVoucherTypes
      tags:
        - settings
      parameters:
        - name: globalStoreId
          in: path
          description: globalStoreId for store where settings are to be set
          required: true
          schema:
            type: integer
      requestBody:
        description: hash of voucher type Objects using voucherTypeId keys
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/voucherTypes'
      responses:
        '200':
          description: successful voucher types set operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/txswitch':
    post:
      summary: Used to begin a txswitch.
      operationId: txswitch.post
      tags:
        - txswitch
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: txconn for ntx
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/txconn'
      responses:
        '200':
          description: The status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/txswitch'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Used to get txswitch status.
      operationId: txswitch.get
      tags:
        - txswitch
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: The status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/txswitch'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update next archiveId values in ntx.
      operationId: txswitch.put
      tags:
        - txswitch
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
      requestBody:
        description: Next archive id values for ntx
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nextIds'
      responses:
        '200':
          description: The status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/txswitch'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/stores/{globalStoreId}/txswitch/{cmd}':
    get:
      summary: 'Send a txswitch command (go, complete, abort) to ctx.'
      description: >
        The returned txswitch will have its cmd property equal to the requested
        cmd on success; otherwise an error will result.
      operationId: txswitch.cmd
      tags:
        - txswitch
      parameters:
        - name: globalStoreId
          in: path
          description: store id
          required: true
          schema:
            type: integer
        - name: cmd
          in: path
          description: The command
          required: true
          schema:
            $ref: '#/components/schemas/txswitchCmd'
      responses:
        '200':
          description: The status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/txswitch'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    activeEvent:
      type: object
      properties:
        eventId:
          type: integer
        name:
          type: string
        startTime:
          $ref: '#/components/schemas/epoch'
        endTime:
          $ref: '#/components/schemas/epoch'
        isActive:
          type: boolean
    accessed:
      type: object
      properties:
        objectType:
          type: string
          enum:
            - accessed
        ipaddr:
          type: string
        deviceId:
          type: string
        secondaries:
          type: array
          items:
            type: object
            properties:
              deviceId:
                type: string
              lastAccess:
                $ref: '#/components/schemas/epoch'
        settings:
          type: object
          properties:
            accounts:
              $ref: '#/components/schemas/setting'
            adjReasons:
              $ref: '#/components/schemas/setting'
            areas:
              $ref: '#/components/schemas/setting'
            discounts:
              $ref: '#/components/schemas/setting'
            employees:
              $ref: '#/components/schemas/setting'
            giftCardGroups:
              $ref: '#/components/schemas/setting'
            jobs:
              $ref: '#/components/schemas/setting'
            loyaltySetup:
              $ref: '#/components/schemas/setting'
            menuCats:
              $ref: '#/components/schemas/setting'
            menuEvents:
              $ref: '#/components/schemas/setting'
            menuItems:
              $ref: '#/components/schemas/setting'
            menuScreens:
              $ref: '#/components/schemas/setting'
            messages:
              $ref: '#/components/schemas/setting'
            orderClasses:
              $ref: '#/components/schemas/setting'
            paymentReasons:
              $ref: '#/components/schemas/setting'
            printers:
              $ref: '#/components/schemas/setting'
            rules:
              $ref: '#/components/schemas/setting'
            store:
              $ref: '#/components/schemas/setting'
            tags:
              $ref: '#/components/schemas/setting'
            taxes:
              $ref: '#/components/schemas/setting'
            terminals:
              $ref: '#/components/schemas/setting'
            voucherTypes:
              $ref: '#/components/schemas/setting'
    address:
      type: object
      properties:
        street1:
          type: string
        street2:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        notes:
          type: string
        coordinates:
          type: object
          required:
            - latitude
            - longitude
          properties:
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
    account:
      type: object
      description: An update to hubworks of an account.
      properties:
        objectType:
          type: string
          enum:
            - account
        accountId:
          $ref: '#/components/schemas/integerId'
        atn:
          type: integer
        balance:
          $ref: '#/components/schemas/moneyValue'
        limit:
          $ref: '#/components/schemas/moneyValue'
        name:
          $ref: '#/components/schemas/personName'
        modified:
          $ref: '#/components/schemas/epoch'
        reconciled:
          $ref: '#/components/schemas/epoch'
        usesDept:
          type: boolean
        paymentOverdue:
          type: boolean
        customerId:
          type: string
        taxExemptId:
          type: string
        primaryPhoneNumber:
          type: string
        unreconciled:
          description: |
            Either a set of debits or a set of credits.
            When debits, then a set of debits that have not paid for
            by credits and the amount left unpaid for each debit.
            When credits, then a set of credits that have not been
            used to pay for debits and the amount available to pay to
            debits.
            The pa reconciles debits using credits in cronological
            order and with the initial account balance.
          type: array
          items:
            type: object
            properties:
              atn:
                type: integer
              value:
                $ref: '#/components/schemas/moneyValue'
      example:
        objectType: account
        accountId: 1001
        atn: 91
        balance: 10078
        modified: 1539958251
    accountParams:
      $ref: components/schemas/accountParams.yaml
    accountTran:
      type: object
      description: Credits will have a negative amount and a zero tip.
      properties:
        objectType:
          type: string
          enum:
            - accountTran
        accountId:
          type: integer
        atn:
          type: integer
        status:
          $ref: '#/components/schemas/tranStatus'
        amount:
          $ref: '#/components/schemas/moneyValue'
        tip:
          $ref: '#/components/schemas/moneyValue'
        portion:
          $ref: '#/components/schemas/moneyValue'
        isSettled:
          type: boolean
        origin:
          $ref: '#/components/schemas/requestOrigin'
        refId:
          description: Either the paymentI or orderId (depends on origin).
          type: integer
        xn:
          description: The order transaction number (only for an order origin).
          type: integer
        created:
          $ref: '#/components/schemas/epoch'
        modified:
          $ref: '#/components/schemas/epoch'
      example:
        objectType: accountTran
        accountId: 12345
        atn: 37
        status: Complete
        amount: 700
        tip: 0
        portion: 700
        isSettled: true
        origin: order
        refId: 44332
        xn: 1
        created: 1664893432
        modified: 1664893432
    adjReason:
      type: object
      description: |
        Object whose keys are reasonIds and values are adjReason objects.
      additionalProperties:
        type: object
        required:
          - reasonId
          - name
          - realm
          - selectable
        properties:
          reasonId:
            $ref: '#/components/schemas/integerId'
          name:
            type: string
          realm:
            type: string
            enum:
              - any
              - cancel
              - cashAdjustment
              - comps
              - compsVoids
              - discounts
              - refunds
              - voids
          selectable:
            type: boolean
          promptFor:
            description: >
              For comps only, what to prompt for price adjusting. If not
              provided, it will default to percentage.
            type: string
            enum:
              - percentage
              - fixed
      example:
        '10':
          reasonId: 10
          name: Birthday
          realm: comps
          selectable: true
          promptFor: fixed
        '11':
          reasonId: 11
          name: Didn't Like
          realm: voids
          selectable: true
        '12':
          reasonId: 12
          name: Employee Discount
          realm: comps
          selectable: true
          promptFor: percentage
    adjReasons:
      type: object
      properties:
        serviceMarks:
          $ref: '#/components/schemas/serviceMarks'
        settings:
          $ref: '#/components/schemas/adjReason'
        writeSeq:
          $ref: '#/components/schemas/integerId'
    aggregates:
      type: object
      properties:
        objectType:
          type: string
          enum:
            - aggregates
        dateKey:
          description: >
            Format yyyymmdd, expressed as an integer. The date when the
            aggregates were created.
          type: integer
        timeKey:
          description: >
            Format hhmmss, expressed as an integer. The time when the aggregates
            were created.
          type: integer
        created:
          $ref: '#/components/schemas/epoch'
        date:
          description: The date of the aggregates (format yyyy-mm-dd).
          type: string
        isDayClosed:
          description: >
            True when all archive objects (orders and timeslips) were closed on
            aggregate creation.
          type: boolean
        orderCount:
          type: integer
        discountTotal:
          type: integer
        gross:
          $ref: '#/components/schemas/revNonRev'
        net:
          $ref: '#/components/schemas/revNonRev'
        taxes:
          $ref: '#/components/schemas/revNonRev'
        deposit:
          $ref: '#/components/schemas/deposit'
        openCash:
          allOf:
            - description: Total of all openCash entries for day.
            - $ref: '#/components/schemas/moneyValue'
        skimsTotal:
          $ref: '#/components/schemas/moneyValue'
        closeCash:
          $ref: '#/components/schemas/moneyValue'
        cashTips:
          $ref: '#/components/schemas/moneyValue'
        payinCash:
          $ref: '#/components/schemas/moneyValue'
        payoutCash:
          $ref: '#/components/schemas/moneyValue'
        cashTotal:
          $ref: '#/components/schemas/moneyValue'
        noncashTips:
          $ref: '#/components/schemas/moneyValue'
        tipDeduction:
          $ref: '#/components/schemas/moneyValue'
        noncashChange:
          $ref: '#/components/schemas/moneyValue'
        fees:
          $ref: '#/components/schemas/moneyValue'
        ccTips:
          $ref: '#/components/schemas/moneyValue'
        cashDue:
          allOf:
            - description: >-
                cashTotal + (payinCash - payoutCash) - noncashChange -
                tipDeduction
            - $ref: '#/components/schemas/moneyValue'
        tipsToCash:
          $ref: '#/components/schemas/moneyValue'
        expectedCash:
          allOf:
            - description: openCash + cashDue - skimsTotal
            - $ref: '#/components/schemas/moneyValue'
        closeDeposit:
          allOf:
            - description: closeCash - openCash;
            - $ref: '#/components/schemas/moneyValue'
        totalDeposit:
          allOf:
            - description: closeDeposit + skimsTotal
            - $ref: '#/components/schemas/moneyValue'
        expectedBankDeposit:
          allOf:
            - description: closeCash + skimsTotal - openCash
            - $ref: '#/components/schemas/moneyValue'
        overShort:
          allOf:
            - description: expectedBankDeposit - cashDue
            - $ref: '#/components/schemas/moneyValue'
    alert:
      description: |
        The txserver injects the *store* type alerts.
        All other alerts injected by the store software.
        Only store injected alerts can get acknowledged.

        An alert gets generated when it does not yet exist or
        when either the state or the acknowledgement changes.

        Any alerts with a uniqueId will have a uniqueIdIndex maintained
        in the store database to create unique alertId values.

        The following documentation has the format,
        type
          -> subType
            - other-property. A comment about the other-property.

        store
          -> access
            - state. Offline when store primary has not accessed txserver in last 5 minutes.
          -> settingsDownload
            - state. Offline when settings request from store has not
                occurred in last 5 minutes.
          -> settingsCompletion
            - state. Offline when any settings completion request following a download has not
                been received within 5 minutes of download.
          -> outstoreStatus
            - state. Offline whenever access is offline or when store manager commanded offline.
          -> tdevice
            - state. Offline when terminalDevice (tdevice) has not accseed txserver
                in last 5 minutes.
            - message. A csv list of deviceId values for offline devices.

        tx
          -> (no subTypes)
            - state. Offline on any network failure (connection or DNS).

        db
            -> replication
              - state. Offline when no secondary has replicated in last 30 seconds.
            -> setup
              - state. Offline when no-secondaries were setup.

        menu
          -> upcDuplicated
            - state. Offline when one or more menu item upc values were duplicated.

        payDevice
          -> access
            - uniqueId. The ipaddr or tdeviceId of the device.
            - state. Offline when network or usb failue with any
                request (batch, transaction, etc.).
          -> unbatched
            - uniqueId. The ipaddr or tdeviceId of the device.
            - state. Offline when no batch has occurred for the previous day.
          -> demoMode
            - uniqueId. The ipaddr or tdeviceId of the device.
            - state. Always Offline demoMode detected or set.

        giftcard (Note that the subTypes equal the giftcard processor name.)
          -> givex
            - state. Offline when the store can not access the givex server (connection or DNS).
          -> gsg
            - state. Offline when the store can not access the gsg server (connection or DNS).
          -> svs
            - state. Offline when the store can not access the svs server (connection or DNS).
          -> valutec
            - state. Offline when the store can not access the valutec server (connection or DNS).

        playcard (Note that the subTypes equal the playcard provider name.)
          -> amc
            - state. Offline when the store can not access the amc server (connection or DNS).

        online (state essentially meaningless and always offline).
          -> outstoreBadEnum
          -> mpfTaxDifferences
        loyalty (Note that the subType depend on the processor name.)
          -> punchh
            - state. Offline on any network failure (connection or DNS).
          -> punchhUpload
            - state. Offline on any network failure (connection or DNS).
          -> sparkfly
            - state. Offline on any network failure (connection or DNS).
          -> sparkflyUpload
            - state. Offline on any network failure (connection or DNS).
          -> zip
            - state. Offline on any network failure (connection or DNS).
          -> zipUpload
            - state. Offline on any network failure (connection or DNS).

        outstoreCancel
          -> (no subTypes)
            - state. Offline on network failure.
            - message. Failure message.

        receiptPrinter
          -> (no subTypes)
            - uniqueId. The ipaddr or tdeviceId of the printer.
            - state. Offline on network failure if networked or usb disconnect.

        remotePrinter
          -> (no subTypes)
            - uniqueId. The ipaddr of the printer.
            - state. Offline on network failure.
            - message. The message will include printer id and name.

        usbDevice
          - scale
            - state. Offline on usb disconnect.

        version
          -> (no subTypes)
            - state. Always online.
            - message. A csv list of versions. Each version contains a colon seperated name and value.
      type: object
      required:
        - alertId
        - seqId
        - created
        - type
        - subType
        - state
      properties:
        alertId:
          description: >
            100,000*uniqueIdIndex + 100*typeId + subTypeId. Value used in
            txdata.id0. The uniqueIdIndex equals 0 for alerts without a
            uniqueId.
          type: integer
        seqId:
          description: >
            Strickly increasing monotonic sequence for the given alertId. Value
            used in txdata.id1.
          type: integer
        created:
          $ref: '#/components/schemas/epoch'
        type:
          type: string
          enum:
            - store
            - tx
            - db
            - payDevice
            - giftcard
            - loyalty
            - receiptPrinter
            - remotePrinter
            - usbDevice
            - playcard
            - menu
            - poService
            - safeCountCheck
            - kds
            - online
        subType:
          description: Depends on type.
          type: string
          nullable: true
          enum:
            - null
            - access
            - settingsDownload
            - settingsCompletion
            - outstoreStatus
            - tdevice
            - replication
            - setup
            - upcDuplicated
            - unbatched
            - demoMode
            - givex
            - svs
            - valutec
            - gsg
            - outstoreBadEnum
            - mpfTaxDifference
            - punchh
            - punchhUpload
            - zip
            - zipUpload
            - sparkfly
            - sparkflyUpload
            - scale
            - amc
        uniqueId:
          nullable: true
          description: >
            The value depends on the type and the subType and it can have a null
            value. A network connected device will have its ip-address (ipaddr)
            for a value. A usb connected device will have the terminalDevice
            deviceId (tdeviceId) to which it connects for a value.
          type: string
        ack:
          description: acknowledgement of alert.
          nullable: true
          type: object
          properties:
            didAck:
              type: boolean
            when:
              $ref: '#/components/schemas/epoch'
            timeslipId:
              type: integer
        state:
          type: string
          enum:
            - online
            - offline
            - unknown
        message:
          description: Only non-null if state equals offline.
          nullable: true
          type: string
    area:
      type: object
      description: |
        Object whose keys are area names and values are area objects.
      additionalProperties:
        type: object
        required:
          - nextArea
          - imageUrl
          - tables
        properties:
          nextArea:
            type: string
            description: >-
              < The name of the next area following this one in logical
              sequence.
          imageUrl:
            type: string
            description: The url of the background image used for the area when displayed.
          tables:
            type: object
            required:
              - xPos
              - yPos
              - imageUrl
            description: < Object whose keys are table names and values are table objects.
            properties:
              xPos:
                type: integer
                description: x (horizontal) position within area frame
              yPos:
                type: integer
                description: y (vertical) position within area frame
              imageUrl:
                type: string
                description: >-
                  < This may be an enum from the set [ "sq", "cir", "dia" ] or
                  be a full URL to access the image from a database.
      example:
        Back Diningroom:
          imageUrl: backdiningimageurl
          tables:
            '10':
              xPos: 10
              yPos: 15
              imageUrl: sq
          nextArea: Main Diningroom
        Main Diningroom:
          tables:
            '01':
              xPos: 10
              yPos: 15
              imageUrl: cir
            '02':
              xPos: 20
              yPos: 25
              imageUrl: dia
          nextArea: Back Diningroom
          imageUrl: main_diningimageurl
    areas:
      type: object
      properties:
        serviceMarks:
          $ref: '#/components/schemas/serviceMarks'
        settings:
          $ref: '#/components/schemas/area'
        writeSeq:
          $ref: '#/components/schemas/integerId'
    archiveObject:
      oneOf:
        - $ref: '#/components/schemas/accessed'
        - $ref: '#/components/schemas/account'
        - $ref: '#/components/schemas/accountTran'
        - $ref: '#/components/schemas/aggregates'
        - $ref: '#/components/schemas/alert'
        - $ref: '#/components/schemas/audit'
        - $ref: '#/components/schemas/batchfot'
        - $ref: '#/components/schemas/batchfpt'
        - $ref: '#/components/schemas/batchMonitor'
        - $ref: '#/components/schemas/batchReport'
        - $ref: '#/components/schemas/deposit'
        - $ref: '#/components/schemas/devices'
        - $ref: '#/components/schemas/employeeInStoreMods'
        - $ref: '#/components/schemas/netdev'
        - $ref: '#/components/schemas/orderDetails'
        - $ref: '#/components/schemas/payment'
        - $ref: '#/components/schemas/paxVars'
        - $ref: '#/components/schemas/storeDelay'
        - $ref: '#/components/schemas/timeslip'
    archiveType: &ref_0
      type: string
      enum:
        - accessed
        - account
        - accountTran
        - aggregates
        - alert
        - audit
        - batchfot
        - batchfpt
        - batchMonitor
        - batchReport
        - deposit
        - devices
        - employeeInStoreMods
        - netdev
        - order
        - payment
        - paxVars
        - storeDelay
        - timeslip
    archiveResendResult:
      type: array
      items:
        allOf:
          - $ref: '#/components/schemas/dataIds'
          - type: object
            properties:
              success:
                description: >
                  When false, the archive object did not exist. When true, the
                  archive object was marked for resend.
                type: boolean
    audit:
      type: object
      description: >
        An audit log of manager authorizations. See the *action* for the meaning
        of id0 and id1.
      properties:
        objectType:
          type: string
          enum:
            - audit
        auditId:
          type: integer
        created:
          $ref: '#/components/schemas/epoch'
        deviceId:
          type: string
        manager:
          $ref: '#/components/schemas/owner'
        action:
          description: |
            enum               id0            id1
            # employee
            updateBio          # employeeId   -
            deleteBio          # employeeId   -
            updateCard         # employeeId   -
            deleteCard         # employeeId   -
            updatePin          # employeeId   -
            deletePin          # employeeId   -
            # general
            openCashDrawer     # timeslipId   -
            outstoreOffline    # timeslipId   -
            outstoreOnline     # timeslipId   -
            gcDeactivate       # timeslipId   -
            gcVoidDeactivate   # timeslipId   -
            setNix             # timeslipId   itemId
            clearNix           # timeslipId   itemId
            # order
            cancel             # orderId
            outstoreCancel     # orderId
            compItem           # orderId      jn
            uncompItem         # orderId      jn
            voidItem           # orderId      jn
            addTransaction     # orderId      xn
            voidTransaction    # orderId      xn
            reopenCheck        # orderId      cn
            reprintCheck       # orderId      cn
            reprintTransaction # orderId      xn
            createRefund       # sinkOrderId  sourceOrderId
            makeRefund         # sinkOrderId  -
            reverseRefund      # sinkOrderId  -
            # payment
            addPayment         # paymentId    -
            voidPayment        # paymentId    -
            # timeslip
            cashOut            # timeslipId   -
            editCashEntry      # timeslipId   -
            printCashEntry     # timeslipId   -
            addSkim            # timeslipId   -
            editSkim           # timeslipId   -
            printSkim          # timeslipId   -
          type: string
          enum:
            - updateBio
            - deleteBio
            - updateCard
            - deleteCard
            - updatePin
            - deletePin
            - openCashDrawer
            - outstoreOffline
            - outstoreOnline
            - gcDeactivate
            - gcVoidDeactivate
            - setNix
            - clearNix
            - cancel
            - outstoreCancel
            - compItem
            - uncompItem
            - voidItem
            - addTransaction
            - voidTransaction
            - reopenCheck
            - 'reprintCheck,'
            - reprintTransaction
            - createRefund
            - makeRefund
            - reverseRefund
            - addPayment
            - voidPayment
            - cashOut
            - editCashEntry
            - printCashEntry
            - addSkim
            - editSkim
            - printSkim
        id0:
          description: Depends on the action.
          type: integer
        id1:
          description: Depends on the action.
          type: integer
    batchfot:
      allOf:
        - description: Batch Failed Order Transaction.
        - type: object
          properties:
            objectType:
              type: string
              enum:
                - batchfot
        - $ref: '#/components/schemas/transactionResult'
    batchfpt:
      allOf:
        - description: Batch Failed Payment Transaction.
        - type: object
          properties:
            objectType:
              type: string
              enum:
                - batchfot
        - $ref: '#/components/schemas/transactionResult'
    batchMonitor:
      type: object
      properties:
        objectType:
          type: string
          enum:
            - batchMonitor
        ipDev:
          type: integer
        ipaddr:
          type: string
        batchNumber:
          type: string
        created:
          $ref: '#/components/schemas/epoch'
        hasTran:
          type: boolean
    batchReport:
      type: object
      properties:
        objectType:
          type: string
          enum:
            - batchReport
        created:
          $ref: '#/components/schemas/epoch'
        ipDev:
          description: 0 for magtek
          type: integer
        totalCount:
          type: integer
        before:
          description: magteck only
          $ref: '#/components/schemas/epoch'
        ipaddr:
          type: string
        deviceId:
          type: string
        totalAmount:
          type: integer
        batchNumber:
          type: string
        batchCreated:
          description: 'Format, "YYYYMMDDhhmmss"'
          type: string
        vendorCode:
          description: closeBatch only
          type: string
        message:
          description: closeBatch only
          type: string
        tid:
          description: closeBatch only
          type: string
        mid:
          description: closeBatch only
          type: string
    cardData:
      type: object
      properties:
        swipe:
          type: string
        pan:
          type: string
        track2:
          type: string
        pin:
          type: string
    calcMod:
      type: object
      properties:
        itemId:
          type: integer
        varId:
          type: integer
        min:
          type: integer
        max:
          type: integer
        freeQnt:
          type: integer
        maxIndvQnt:
          type: integer
        packQnt:
          type: integer
        isMultiSelectAllowed:
          type: boolean
        autoAddDefaults:
          type: boolean
        doCountDefaults:
          type: boolean
        isHideInactiveMod:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/fqItem'
    chainInfo:
      type: object
      description: |
        Information returned from getChains about a chain.
      properties:
        globalOrgID:
          description: >
            Global Customer(Chain) Primary Key. This is Unique across all
            Hubworks instances.
          type: integer
          minimum: 1
          example: 32212
        orgID:
          type: string
          example: test@domain.com
    chainInfoSet:
      type: object
      description: >
        Object whose keys are globalChainId that refer to chain information
        objects.
      additionalProperties:
        $ref: '#/components/schemas/chainInfo'
      example:
        '32212':
          globalOrgID: 32212
          orgID: sam@domain.com
        '32754':
          globalOrgID: 32754
          orgID: sarah@domain.com
        '45070':
          globalOrgID: 45070
          orgID: missy@domain.com
    chainRegistration:
      type: object
      description: |
        Information sent down from Hubwoarks to identified the customer (chain)
      properties:
        globalOrgID:
          description: >
            Global Customer(Chain) Primary Key. This is Unique across all
            Hubworks instances.
          type: integer
          minimum: 1
          example: 32212
        orgID:
          type: string
          example: test@domain.com
        orgApiKey:
          type: string
          example: b2959d58b4884f8093f6770415c99d91
        keySetId:
          description: Which keySet to use for global authentication.
          type: integer
        outstoreApiKeys:
          type: array
          items:
            type: object
            properties:
              apiKey:
                type: string
              emailID:
                type: string
                description: should be unique across HubWorks instances
          example:
            - apiKey: b2959d58b4884f8093f6770415c99d91
              emailID: test1@domain.com
            - apiKey: a2959d58b7884f2093f6770415c99d91
              emailID: test2@domain.com
    check:
      type: object
      description: >
        A check summarizes and describes the payments and taxes for an order. A
        check can contain zero or more transactions. The system closes a check
        when the sum of the applied values for all non-voided transactions is
        equal to or greater than the check total and there are no Processing
        transactions.
      required:
        - cn
        - printCount;
        - printCountClosed;
        - isClosed
        - subtotal
        - subtotalTaxable
        - subtotalExempt
        - taxTotal
        - itaxTotal
        - taxTotalFee
        - itaxTotalFee
        - fudge
        - cashTotal
        - discountTotal
        - compTotal
        - total
        - balance
        - cashBalance
        - balanceNonCash
        - change
        - taxExempt
        - giftcardItemAmount
        - feeTotal
        - created
      properties:
        cn:
          type: integer
          description: The check number (start at 1 and increments).
          minimum: 1
        printCount:
          type: integer
          description: The number of times this check was printed.
        printCountClosed:
          type: integer
          description: The number of times this check was printed when closed.
        isClosed:
          type: boolean
        subtotal:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: subtotal = subtotalTaxable + subtotalExempt.
        subtotalTaxable:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: The total of all taxable items.
        subtotalExempt:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: The total of all sales tax exempt items.
        taxTotal:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: |
                The amount of exclusive tax for the check (added to the total).
        itaxTotal:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: Inclusive tax total (not added to total).
        taxTotalFee:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: >
                The amount of exclusive tax for the check fees (added to the
                total).
        itaxTotalFee:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: Inclusive tax total fees (not added to total).
        fudge:
          $ref: '#/components/schemas/moneyValue'
        cashTotal:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: total + fudge
        discountTotal:
          $ref: '#/components/schemas/moneyValue'
        compTotal:
          $ref: '#/components/schemas/moneyValue'
        total:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: (subtotal + taxTotal + feeTotal + taxTotalFee) - discountTotal
        balance:
          $ref: '#/components/schemas/moneyValue'
        cashBalance:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: 'hasCash ? balance '':'' balance + fudge'
        balanceNonCash:
          allOf:
            - $ref: '#/components/schemas/moneyValue'
            - description: 'hasCash ? remainingTotal + cashAmount '':'' remainingTotal'
        change:
          $ref: '#/components/schemas/moneyValue'
        taxes:
          type: array
          description: A list of all taxes applied to this check.
          items:
            $ref: '#/components/schemas/taxValue'
        taxExempt:
          type: boolean
          description: The tax-exempt status for the Order Check. The default is false.
        taxExemptId:
          type: string
          description: >
            The tax-exempt tax-id value for the Order Check with a true
            taxExempt proprety, null otherwise.
          nullable: true
        taxExemptDesc:
          type: string
          description: A description for the taxExempt state.
          nullable: true
        giftcardItemAmount:
          $ref: '#/components/schemas/moneyValue'
        emails:
          description: Email addresses to send a receipt.
          type: array
          items:
            type: string
        fees:
          nullable: true
          type: array
          items:
            type: object
            properties:
              feeId:
                type: integer
              name:
                type: string
              amount:
                $ref: '#/components/schemas/moneyValue'
              isForced:
                type: boolean
              setPerOrder:
                type: boolean
              fixed:
                $ref: '#/components/schemas/moneyValue'
              percentage:
                type: number
              minCheckValue:
                $ref: '#/components/schemas/moneyValue'
        feeTaxes:
          type: array
          description: A list of all fee taxes applied to this check.
          items:
            $ref: '#/components/schemas/taxValue'
        feeTotal:
          $ref: '#/components/schemas/moneyValue'
        created:
          $ref: '#/components/schemas/epoch'
        closed:
          $ref: '#/components/schemas/epoch'
    checkCustomer:
      description: The check customer.
      type: object
      properties:
        customerId:
          description: Online orders only.
          type: string
        name:
          $ref: '#/components/schemas/personName'
        phone:
          type: string
        email:
          type: string
      example:
        name:
          first: Pat
          last: Doe
        phone: 17345551212
        email: pat.doe@example.com
    checkId:
      description: A store unique integer.
      type: integer
      format: int64
      example: 1234567001
    cmdArgs:
      type: object
      description: >
        Arguments for a cmd. Applies to uploadLogs, uploadReports and
        uploadArchive commands.
      properties:
        startDate:
          description: 'If not used, the system uses the current date.'
          type: string
          format: date
          example: 2022-02-08.
        endDate:
          description: 'If not used, the system uses the current date.'
          type: string
          format: date
          example: 2022-02-08.
        reportList:
          type: array
          items:
            type: string
            enum:
              - closeByDay
              - closeByTimeslips
              - endOfDay
              - labor
              - perLabor
              - sales
              - devices
        archive:
          description: Used for uploadArchive
          type: string
          enum:
            - account
            - accountTran
            - deposit
            - devices
            - employee
            - order
            - payment
            - timeslip
        startId:
          description: Used for uploadArchive. Does not need an endId.
          type: integer
        endId:
          description: Used for uploadArchive.
          type: integer
    cmdId:
      description: Commands to send to pa.
      type: string
      enum:
        - uploadArchive
        - uploadDb
        - uploadLogs
        - uploadReports
    creditCardData:
      type: object
      properties:
        cctype:
          type: string
          enum:
            - Auth
            - Sale
            - Offline
            - Refund
        vendorCode:
          type: string
        vendorTranType:
          type: string
        tid:
          type: string
        brandId:
          type: integer
        brandName:
          type: string
        bin:
          type: string
        pan4:
          type: integer
        expdate:
          type: integer
        holder:
          type: string
        entryMode:
          type: string
          enum:
            - unknown
            - manual
            - swipe
            - contactless
            - scanner
            - chip
            - chipButSwiped
        approvalCode:
          type: string
        batchNumber:
          type: string
        cardPresent:
          type: boolean
        messages:
          type: array
          items:
            type: object
            properties:
              when:
                $ref: '#/components/schemas/epoch'
              message:
                type: string
        ipaddr:
          type: string
        token:
          type: string
        isSaf:
          type: boolean
        canRecover:
          type: boolean
    creditCardProcessors:
      type: object
      properties:
        magensa:
          description: >
            Settings needed for magtek devices using magensa. The properties
            with a store.* description should get copied from the respective
            store.* settings.
          type: object
          properties:
            url:
              type: string
            customerCode:
              type: string
            password:
              type: string
            username:
              type: string
            clientCertBase64:
              type: string
            clientCertPassword:
              type: string
            processorName:
              type: string
            partialAuth:
              description: Partial authorization approval capability.
              type: boolean
            merchantCategoryCode:
              type: string
            storeName:
              description: store.storeName
              type: string
              maxLength: 38
            street:
              description: store.address.street
              type: string
              maxLength: 30
            city:
              description: store.address.city
              type: string
              maxLength: 20
            state:
              description: store.address.stateAbbr
              type: string
              maxLength: 2
            zipcode:
              description: store.address.zipcode
              type: string
              maxLength: 9
    customer:
      type: object
      properties:
        customerId:
          type: string
        name:
          $ref: '#/components/schemas/personName'
        phone:
          type: string
        email:
          type: string
          format: email
      example:
        name:
          first: Pat
          last: Doe
        phone: 17345551212
        email: pat.doe@example.com
    customerIds:
      description: >
        The possible customer globally unique identifiers. A customer must have
        at least one, but can have all of them. The customerId has preference.
        The *scan* property only gets used as an input to find a customer.
      type: object
      properties:
        customerId:
          description: >
            Can have a value equal to *phone* or *email* or some other value
            (e.g., a guid).
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        scan:
          description: |
            Only used for customer linking and automatic reward applicaiton.
            The retunred value from the loyalty provider should never have a
            *scan* property.
          type: string
      example:
        customerId: cdb04eea-5c0a-11ef-9ad8-b245d3c9613a
        phone: 17345551212
        email: pat564@example.com
        scan: X164M64d32A00c4
    debug:
      type: object
      properties:
        logLevel:
          type: string
          enum:
            - debug
            - error
            - sqldebug
    debugSetting:
      type: object
      properties:
        serviceMarks:
          $ref: '#/components/schemas/serviceMarks'
        settings:
          $ref: '#/components/schemas/debug'
    destination:
      description: >
        Each value can map to an orderClass. The txi store object
        outstore.destination property maintains the mapping to orderClass.
[...]
